:root {
	/* Fonts */
	--fontSize: 18px;
	
	/* Sizing */
	--minContentWidth: 50ch;
	--sidebarWidth: 20ch;

	/* Colors */
	--background: #282a36;
	--currentLine: #44475a;
	--foreground: #f8f8f2;
	--comment: #6272a4;
	--cyan: #8be9fd;
	--green: #50fa7b;
	--orange: #ffb86c;
	--pink: #ff79c6;
	--purple: #bd93f9;
	--red: #ff5555;
	--yellow: #f1fa8c;

	--accentColor: var(--pink);
}

/* Color classes */
.background {
	color: var(--background);
}

.curentLine {
	color: var(--currentLine);
}

.currentLine-invert {
    background-color: var(--currentLine);
    color: var(--background);
}

.foreground {
	color: var(--foreground);
}

.foreground-invert {
    background-color: var(--foreground);
    color: var(--background);
}

.comment {
	color: var(--comment);
}

.comment-invert {
    background-color: var(--comment);
    color: var(--background);
}

.cyan {
	color: var(--cyan);
}

.cyan-invert {
    background-color: var(--cyan);
    color: var(--background);
}

.green {
	color: var(--green);
}

.green-invert {
    background-color: var(--green);
    color: var(--background);
}

.orange {
	color: var(--orange);
}

.orange-invert {
    background-color: var(--orange);
    color: var(--background);
}

.pink {
	color: var(--pink);
}

.pink-invert {
    background-color: var(--pink);
    color: var(--background);
}

.purple {
	color: var(--purple);
}

.purple-invert {
    background-color: var(--purple);
    color: var(--background);
}

.red {
	color: var(--red);
}

.red-invert {
    background-color: var(--red);
    color: var(--background);
}

.yellow {
	color: var(--yellow);
}

.yellow-invert {
    background-color: var(--yellow);
    color: var(--background);
}

.highlight {
	color: cyan;
	font-style: italic;
}

/* Global element styles */

html {
	margin: auto;
	font-size: var(--fontSize);
	height: 100vh;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	height: 100%;
	margin: 0;
}

a {
	color: var(--comment);
}

a:hover {
	background-color:  var(--comment);
	color: var(--background);
}

pre {
	margin: 0;
}
