.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.releases {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0;
    padding-bottom: 20px;
}
