.layout {
	display: flex;
	flex-direction: row;
    height: 100%;
}

.content {
	flex-grow: 1;
	min-width: var(--minContentWidth);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contentBlock {
	max-width: 70ch;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
    flex: 1;
}

.logoContainer {
    height: 5 * var(--fontSize);
}