.layout {
	display: flex;
	flex-direction: row;
    padding: 15px;
}

.content {
	flex-grow: 1;
	min-width: var(--minContentWidth);
	height: 100%;
}

.contentBlock {
	max-width: 70ch;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.logoContainer {
    height: 5 * var(--fontSize);
}