.logo {
    text-align: center;
    text-decoration: none;
}

.logo pre {
    background: -webkit-linear-gradient(
        315deg, 
        var(--red), 
        var(--orange), 
        var(--yellow),
        var(--green),
        var(--cyan),
        var(--purple),
        var(--pink)
    );
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: logo 20s ease infinite;
    -moz-animation: logo 20s ease infinite;
    animation: logo 20s ease infinite;   
}

@-webkit-keyframes logo {
    0%{background-position:0%}
    50%{background-position:100%}
    100%{background-position:0%}
}

@-moz-keyframes logo {
    0%{background-position:0%}
    50%{background-position:100%}
    100%{background-position:0%}
}

@keyframes logo {
    0%{background-position:0%}
    50%{background-position:100%}
    100%{background-position:0%}
}