.container {
    display: flex;
    justify-content: space-between;
}

.rainbow {
    background: -webkit-linear-gradient(
        left,
        var(--red),
        var(--orange),
        var(--yellow),
        var(--green),
        var(--cyan),
        var(--purple)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rainbow:hover {
    background-clip: border-box;
    -webkit-text-fill-color: var(--background);
}